.App {
   text-align: center;
}

body {
   background-image: url("https://fondosmil.com/fondo/35284.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: scroll;
   background-attachment: fixed;
 

}